html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

body {
  position: relative;
  background-color: #fcf6ba;
  overflow: hidden;
}

.ground {
  position: absolute;
  width: 100%;
  height: 70%;
  background-color: #9B8772;
  top: 30%;
  left: 0;
}

.sky {
  position: absolute;
  width: 100%;
  height: 30%;
  background-color: #97EAF0;
}

.ball {
  position: fixed;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: #FC0202;
  border: solid 3px black;
  left: 42%;
  top: 70%;
  -webkit-animation: roll 2s infinite;
          animation: roll 2s infinite;
}

.dot {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: #000000;
  border-radius: 50%;
}

.dot.t1 {
  top: 19px;
  left: 75px;
}

.dot.t2 {
  top: 30px;
  left: 45px;
}

.dot.t3 {
  top: 50px;
  left: 68px;
}

.head {
  position: absolute;
  width: 25px;
  height: 80px;
  background-color: #ffffff;
  border-radius: 40% 40% 50% 50%;
  top: 0px;
  left: 21px;
}

.body {
  position: absolute;
  width: 50px;
  height: 70px;
  background-color: #ffffff;
  border-radius: 50% 50% 40% 40%;
  top: 50px;
  left: 10px;
}

.bulb1 {
  position: fixed;
  top: 35%;
  left: 47.5%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-animation: fall1 2s infinite;
          animation: fall1 2s infinite;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.bulb2 {
  position: fixed;
  top: 30%;
  left: 45%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-animation: fall2 2s infinite;
          animation: fall2 2s infinite;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.bulb3 {
  position: fixed;
  top: 30%;
  left: 50%;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-animation: fall3 2s infinite;
          animation: fall3 2s infinite;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.bulb4 {
  position: fixed;
  top: 25%;
  left: 42.5%;
  -webkit-animation: fall4 2s infinite;
          animation: fall4 2s infinite;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.bulb5 {
  position: fixed;
  top: 25%;
  left: 47.5%;
  -webkit-animation: fall5 2s infinite;
          animation: fall5 2s infinite;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.bulb6 {
  position: fixed;
  top: 25%;
  left: 52.5%;
  -webkit-animation: fall6 2s infinite;
          animation: fall6 2s infinite;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

@-webkit-keyframes roll {
  100% {
    -webkit-transform: translatey(-500px) rotate(1720deg) scale(0.4);
            transform: translatey(-500px) rotate(1720deg) scale(0.4);
  }
}

@keyframes roll {
  100% {
    -webkit-transform: translatey(-500px) rotate(1720deg) scale(0.4);
            transform: translatey(-500px) rotate(1720deg) scale(0.4);
  }
}
@-webkit-keyframes fall1 {
  100% {
    -webkit-transform: translate(-100px, -100px) rotate(500deg);
            transform: translate(-100px, -100px) rotate(500deg);
  }
}
@keyframes fall1 {
  100% {
    -webkit-transform: translate(-100px, -100px) rotate(500deg);
            transform: translate(-100px, -100px) rotate(500deg);
  }
}
@-webkit-keyframes fall2 {
  100% {
    -webkit-transform: translate(-86px, -78px) rotate(-336deg);
            transform: translate(-86px, -78px) rotate(-336deg);
  }
}
@keyframes fall2 {
  100% {
    -webkit-transform: translate(-86px, -78px) rotate(-336deg);
            transform: translate(-86px, -78px) rotate(-336deg);
  }
}
@-webkit-keyframes fall3 {
  100% {
    -webkit-transform: translate(70px, -150px) rotate(560deg);
            transform: translate(70px, -150px) rotate(560deg);
  }
}
@keyframes fall3 {
  100% {
    -webkit-transform: translate(70px, -150px) rotate(560deg);
            transform: translate(70px, -150px) rotate(560deg);
  }
}
@-webkit-keyframes fall4 {
  100% {
    -webkit-transform: translate(-150px, -200px) rotate(-220deg);
            transform: translate(-150px, -200px) rotate(-220deg);
  }
}
@keyframes fall4 {
  100% {
    -webkit-transform: translate(-150px, -200px) rotate(-220deg);
            transform: translate(-150px, -200px) rotate(-220deg);
  }
}
@-webkit-keyframes fall5 {
  100% {
    -webkit-transform: translate(-45px, -80px) rotate(300deg);
            transform: translate(-45px, -80px) rotate(300deg);
  }
}
@keyframes fall5 {
  100% {
    -webkit-transform: translate(-45px, -80px) rotate(300deg);
            transform: translate(-45px, -80px) rotate(300deg);
  }
}
@-webkit-keyframes fall6 {
  100% {
    -webkit-transform: translate(150px, -180px) rotate(-240deg);
            transform: translate(150px, -180px) rotate(-240deg);
  }
}
@keyframes fall6 {
  100% {
    -webkit-transform: translate(150px, -180px) rotate(-240deg);
            transform: translate(150px, -180px) rotate(-240deg);
  }
}