p{
  width:100vw;
  height:100vh;
  margin:0;
  padding:0;
  font-size:12px;
  font-weight:900;
  letter-spacing:-1px;
  line-height:12px;
  letter-spacing:-1px;
  color:transparent;
  background:url("https://media2.giphy.com/media/l2JhCR5GO9StsMu7S/giphy.gif?cid=ecf05e477e29332da921a893354d868818f716710833957c&rid=giphy.gif")no-repeat center center;
  background-size:contain;
  -webkit-background-clip:text;
  
}